
<app-navbar (onUsuarioSeleccionado)="idUsuarioSeleccionado = $event"></app-navbar>

<app-lista-preguntas 
    [inIdUsuarioSeleccionado]="idUsuarioSeleccionado"
    (onRegionVisible)="regionVisible = $event"
    (onIdPreguntaSeleccionada)="IdPreguntaSeleccionada = $event"
    [ngClass]="{'visible': regionVisible === 'listaPreguntas', 'not-visible': regionVisible !== 'listaPreguntas'}"
></app-lista-preguntas>

<app-detalle-pregunta
    (onRegionVisible)="regionVisible = $event"
    [inIdPreguntaSeleccionada]="IdPreguntaSeleccionada"
    [inIdUsuario]="idUsuarioSeleccionado"
    [ngClass]="{'visible': regionVisible === 'detallePregunta', 'not-visible': regionVisible !== 'detallePregunta'}"
></app-detalle-pregunta>

<!-- <router-outlet></router-outlet> -->
